body {
  background-color: #1e1e1e;
  color: white;
  font-family: "Segoe UI", sans-serif;
}

.upload-container {
  margin-top: 40px;
  text-align: center;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}

.uploads{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;

}
textarea {
  width: 50%;
  
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  resize: vertical;
  min-height: 120px;
  transition: background-color 0.3s, color 0.3s;
}

.upload-box {
  width: 10%;
 
  padding: 15px;
  border: 2px dashed #555;
  border-radius: 10px;
  cursor: pointer;
  background-color: #2a2a2a;
  transition: 0.2s;
  display: block;
}

.upload-box:hover {
  background-color: #333;
}

.upload-icon {
  font-size: 30px;
}

.upload-text {
  margin-top: 10px;
  color: #bbb;
  font-size: 14px;
}

.orange-btn {
  background-color: #ff6a00;
  color: white;
  padding: 8px 20px;
  border: none;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
}

.orange-btn:hover {
  background-color: #e45d00;
}
